torch
torchvision
torchaudio
opencv-python-headless
numpy
pandas
streamlit>=1.35.0
matplotlib
scikit-learn
Pillow
transformers
sentencepiece
easyocr
google-generativeai
altair<5
psutil
# End of dependencies

